name: Build Test

on:
  pull_request:
    branches:
      - main
      - master
      - develop
  push:
    branches:
      - main
      - master
      - develop
      - feature/tcp_mesh  # Allow testing on this feature branch

jobs:
  test-debian:
    name: Test Debian 12 Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and test Debian
        run: |
          docker buildx build \
            --platform=${{ matrix.platform }} \
            -f Dockerfile.debian \
            -t ucarp:debian-test \
            --load \
            .

      - name: Test binary
        run: |
          docker run --platform=${{ matrix.platform }} --rm ucarp:debian-test --help

  test-rocky9:
    name: Test Rocky Linux 9 Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and test Rocky 9
        run: |
          docker buildx build \
            --platform=${{ matrix.platform }} \
            -f Dockerfile.rocky9 \
            -t ucarp:rocky9-test \
            --load \
            .

      - name: Test binary
        run: |
          docker run --platform=${{ matrix.platform }} --rm ucarp:rocky9-test --help

  test-centos7:
    name: Test CentOS 7 Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build CentOS 7 base
        run: |
          docker build \
            --platform=linux/amd64 \
            -f Dockerfile.centos7-base \
            -t centos7-vault:latest \
            .

      - name: Build and test CentOS 7
        run: |
          docker build \
            --platform=linux/amd64 \
            -f Dockerfile.centos7 \
            -t ucarp:centos7-test \
            .

      - name: Test binary
        run: |
          docker run --platform=linux/amd64 --rm ucarp:centos7-test --help

      - name: Check GLIBC compatibility
        run: |
          echo "### GLIBC Compatibility Check ###"
          docker run --platform=linux/amd64 --rm ucarp:centos7-test /bin/bash -c \
            "objdump -T /usr/local/sbin/ucarp | grep GLIBC | awk '{print \$5}' | sort -u"
